<footer class="py-5">
  <div class="container">
      <div class="row gy-4 justify-content-between">
          <div class="col-auto">
              <p class="mb-0">
                  © David E. Ginaca
              </p>
          </div>
          <div class="col-auto">
              <div class="col-12">
                  <a href="https://www.instagram.com/davidginaca/" class="btn btn-brand m-2" target="_blank"><img src="../../../assets/icons8-github-16.png" 
                      alt="logo de github"></a>
                  <a href="https://www.linkedin.com/in/david-emiliano-ginaca-a59653232/" class="btn btn-brand m-2" target="_blank"><img src="../../../assets/icons8-linkedin-16.png" 
                      alt="logo de linkedin"></a>
              </div>
          </div>            
      </div>
  </div>

</footer>
